<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
  <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
  rel="stylesheet" type="text/css">

</head>
<body>
  <ul>
    <li>
      <a href="<%=themtheloai_path%>" class="active"><h1>cập nhật thêm thể loại</h1><a>
      </li>
      <li>
        <a href="<%=edittruyen_path%>" class="active"><h1>Chỉnh Sửa Truyện</h1><a>
        </li>
        <li>
          <a href="<%=uptruyen_path%>" class="active"><h1>up thêm truyện</h1><a>
          </li>
          <li>
            <a href="<%=signup_path%>" class="active"><h1>dang ky</h1><a>
            </li>
            <li>
              <a href="<%=login_path%>" class="active"><h1>dang nhap</h1><a>
              </li>
              <li>
                <a href="<%=home_path%>" class="active"><h1>về trang chủ</h1><a>
                </li>
              </ul>
            </body>
            <html>
